TuckER/data/OpenBG-IMG/entity2text.tsv
TuckER/data/OpenBG-IMG/OpenBG500_dev.tsv
TuckER/data/OpenBG-IMG/OpenBG500_example_pred.tsv
TuckER/data/OpenBG-IMG/relation2text.tsv
TuckER/data/OpenBG-IMG/test.tsv
TuckER/data/OpenBG-IMG/train.tsv
TuckER/tucker/LICENSE
TuckER/tucker/data/.DS_Store
TuckER/tucker/data/FB15k/.DS_Store
TuckER/tucker/data/FB15k/test.txt
TuckER/tucker/data/FB15k/train.txt
TuckER/tucker/data/FB15k/valid.txt
TuckER/tucker/data/FB15k-237/.DS_Store
TuckER/tucker/data/FB15k-237/README.txt
TuckER/tucker/data/FB15k-237/test.txt
TuckER/tucker/data/FB15k-237/train.txt
TuckER/tucker/data/FB15k-237/valid.txt
TuckER/tucker/data/WN18/README
TuckER/tucker/data/WN18/test.txt
TuckER/tucker/data/WN18/train.txt
TuckER/tucker/data/WN18/valid.txt
TuckER/tucker/data/WN18/wordnet-mlj12-definitions.txt
TuckER/tucker/data/WN18/Wordnet3.0-LICENSE
TuckER/tucker/data/WN18RR/test.txt
TuckER/tucker/data/WN18RR/train.txt
TuckER/tucker/data/WN18RR/valid.txt
